<section class="blog">
    <div class="container">
    <h2 class="blog-title">Blog</h2>
    <div class="blog-container">
        <aside class="blog-aside">
            <ul class="aside-list">
                <li class="aside-item">
                    <h2 class="aside-title">Archives</h2>
                    <ul class="archives">
                        <li class="archives-item">
                            <time datetime="2022-03" class="archives-time">March 2022</time>
                            <p class="archives-number">(1)</p>
                        </li>
                        <li class="archives-item">
                            <time datetime="2022-02" class="archives-time">February 2022</time>
                            <p class="archives-number">(2)</p>
                        </li>
                        <li class="archives-item">
                            <time datetime="2022-01" class="archives-time">January 2022</time>
                            <p class="archives-number">(3)</p>
                        </li>
                    </ul>
                </li>
                <li class="aside-item">
                    <h2 class="aside-title">Categories</h2>
                    <ul class="categories-list">
                        <li class="categories-item">
                            <p class="categories-text">Electric</p>
                            <p class="categories-number">(3)</p>
                        </li>
                        <li class="categories-item">
                            <p class="categories-text">Fan</p>
                            <p class="categories-number">(2)</p>
                        </li>
                        <li class="categories-item">
                            <p class="categories-text">Machine</p>
                            <p class="categories-number">(2)</p>
                        </li>
                    </ul>
                </li>
                <li class="aside-item">
                    <h2 class="aside-title">Recent Posts</h2>
                    <ul class="posts-list">
                        <li class="posts-item">
                            <img src="../../images/blog-page/blog-mini.webp" alt="photo of a woman" class="posts-photo">
                            <div class="posts-box">
                                <h3 class="posts-subtitle">Bruden Mode ...</h3>
                            <time datetime="2022-04-03" class="posts-time">April 3, 2022</time>
                            </div>
                        </li>
                        <li class="posts-item">
                            <img src="../../images/blog-page/blog-mini.webp" alt="photo of a woman" class="posts-photo">
                            <div class="posts-box">
                                <h3 class="posts-subtitle">Bruden Mode ...</h3>
                            <time datetime="2022-04-03" class="posts-time">April 3, 2022</time>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside>
        <div class="blog-block">
            <ul class="blog-list">
                <li class="blog-item">
                    <img src="../../images/blog-page/blog1.webp" alt="photo of a wooman" class="blog-photo">
                    <h3 class="blog-subtitle">Bruden Mode Is Taking Care of Women</h3>
                    <time datetime="2022-04-03" class="blog-time">April 3, 2022</time>
                    <p class="blog-dscr">Bruden Mode in Montreal has taken a lot of time and put a lot of effort into
                        helping women not only look great but to be
                        more healthy.</p>
                    <a href="../../index.html" class="blog-link">Read more</a>
                </li>
                <li class="blog-item">
                    <img src="../../images/blog-page/blog1.webp" alt="photo of a wooman" class="blog-photo">
                    <h3 class="blog-subtitle">Bruden Mode Is Taking Care of Women</h3>
                    <time datetime="2022-04-03" class="blog-time">April 3, 2022</time>
                    <p class="blog-dscr">Bruden Mode in Montreal has taken a lot of time and put a lot of effort into
                        helping women not only look great but to be
                        more healthy.</p>
                    <a href="../../index.html" class="blog-link">Read more</a>
                </li>
                <li class="blog-item">
                    <img src="../../images/blog-page/blog1.webp" alt="photo of a wooman" class="blog-photo">
                    <h3 class="blog-subtitle">Bruden Mode Is Taking Care of Women</h3>
                    <time datetime="2022-04-03" class="blog-time">April 3, 2022</time>
                    <p class="blog-dscr">Bruden Mode in Montreal has taken a lot of time and put a lot of effort into
                        helping women not only look great but to be
                        more healthy.</p>
                    <a href="../../index.html" class="blog-link">Read more</a>
                </li>
                <li class="blog-item">
                    <img src="../../images/blog-page/blog1.webp" alt="photo of a wooman" class="blog-photo">
                    <h3 class="blog-subtitle">Bruden Mode Is Taking Care of Women</h3>
                    <time datetime="2022-04-03" class="blog-time">April 3, 2022</time>
                    <p class="blog-dscr">Bruden Mode in Montreal has taken a lot of time and put a lot of effort into
                        helping women not only look great but to be
                        more healthy.</p>
                    <a href="../../index.html" class="blog-link">Read more</a>
                </li>
            </ul>
        </div>
    </div>
    </div>
        
</div>
</section>