<section class="gallery">
    <div class="container">
        <h2 class="gallery-title">
            Insta-gallery
        </h2>
        <ul class="gallery-list">
            <li class="gallery-item">
                <img src="../../images/blog-page/gallery-photo1.webp" alt="insta-photo" class="gallery-photo">
            </li>
            <li class="gallery-item">
                <img src="../../images/blog-page/gallery-photo2.webp" alt="insta-photo" class="gallery-photo">
            </li>
            <li class="gallery-item">
                <img src="../../images/blog-page/gallery-photo3.webp" alt="insta-photo" class="gallery-photo">
            </li>
            <li class="gallery-item">
                <img src="../../images/blog-page/gallery-photo4.webp" alt="insta-photo" class="gallery-photo">
            </li>
            <li class="gallery-item">
                <img src="../../images/blog-page/gallery-photo5.webp" alt="insta-photo" class="gallery-photo">
            </li>
            <li class="gallery-item">
                <img src="../../images/blog-page/gallery-photo6.webp" alt="insta-photo" class="gallery-photo">
            </li>
            <li class="gallery-item">
                <img src="../../images/blog-page/gallery-photo7.webp" alt="insta-photo" class="gallery-photo">
            </li>
            <li class="gallery-item">
                <img src="../../images/blog-page/gallery-photo8.webp" alt="insta-photo" class="gallery-photo">
            </li>
            <li class="gallery-item">
                <img src="../../images/blog-page/gallery-photo9.webp" alt="insta-photo" class="gallery-photo">
            </li>
        </ul>
        <ul class="gallery-numbers">
            <li class="gallery-card">
                <p class="gallery-number">1</p>
            </li>
            <li class="gallery-card">
                <p class="gallery-number">2</p>
            </li>
            <li class="gallery-card">
                <p class="gallery-number">></p>
            </li>
        </ul>
    </div>
</section>