<section class="products">
    <div class="container">
        <h2 class="products-title">Latest products</h2>
        <ul class="products-list">
            <li class="products-item">
                <img src="../../images/home-page/deal1.webp" alt="Fiery Red Bruden Backpack" class="products-image">
                <div class="products-box">
                    <h3 class="products-subtitle">Fiery Red Bruden Backpack</h3>
                    <img src="../../images/home-page/stars.webp" alt="5 stars" class="products-stars">
                    <p class="products-text">C&#36; 99.99</p>
                </div>
            </li>
            <li class="products-item">
                <img src="../../images/home-page/deal2.webp" alt="black Backpack" class="products-image">
                <div class="products-box">
                    <h3 class="products-subtitle">Bruden's Backpack</h3>
                    <img src="../../images/home-page/stars.webp" alt="5 stars" class="products-stars">
                    <p class="products-text">C&#36; 99.99</p>
                </div>
            </li>
            <li class="products-item">
                <img src="../../images/home-page/shop3.webp" alt="" class="products-image">
                <div class="products-box">
                    <h3 class="products-subtitle">Bruden Belt</h3>
                    <img src="../../images/home-page/stars.webp" alt="5 stars" class="products-stars">
                    <p class="products-text">C&#36; 99.99</p>
                </div>
            </li>
            <li class="products-item">
                <img src="../../images/blog-page/productsblog1.webp" alt="" class="products-image">
                <div class="products-box">
                    <h3 class="products-subtitle">Sweet Pink Bruden Backpack</h3>
                    <img src="../../images/home-page/stars.webp" alt="5 stars" class="products-stars">
                    <p class="products-text">C&#36; 99.99</p>
                </div>
            </li>
            <li class="products-item">
                <img src="../../images/home-page/shop2.webp" alt="sunglasses1" class="products-image">
                <div class="products-box">
                    <h3 class="products-subtitle">POS</h3>
                    <img src="../../images/home-page/stars.webp" alt="5 stars" class="products-stars">
                    <p class="products-text">C&#36; 99.99</p>
                </div>
            </li>
            <li class="products-item">
                <img src="../../images/blog-page/productsblog2.webp" alt="sunglasses2" class="products-image">
                <div class="products-box">
                    <h3 class="products-subtitle">MTL</h3>
                    <img src="../../images/home-page/stars.webp" alt="5 stars" class="products-stars">
                    <p class="products-text">C&#36; 99.99</p>
                </div>
            </li>
        </ul>
        <ul class="products-chevrons">
            <li class="products-card"><img src="../../images/home-page/left-chevron.webp" alt="left" class="products-chevron"></li>
            <li class="products-card"><img src="../../images/home-page/right-chevron.webp" alt="right" class="products-chevron"></li>
        </ul>
    </div>
</section>