<section class="hero">
    <div class="container hero-container">
        <h2 class="hero-name">Contact Us</h2>
        <aside class="hero-aside2">
            <ul class="contact-list">
                <li>
                    <h2 class="contact-title">Our contact</h2>
                </li>
                <li class="contact-item">
                    <h2 class="contact-subtitle">Address:</h2>
                    <address class="contact-address">street, town, ZIP code</address>
                </li>
                <li class="contact-item">
                    <h2 class="contact-subtitle">Phone numbers:</h2>
                    <a href="tel:+10000000000" class="contact-address">+1 - 000 - 000 - 0000</a>
                </li>
                <li class="contact-item">
                    <h2 class="contact-subtitle">Email:</h2>
                    <a href="mailto:email@mail.com" class="contact-address">email@mail.com</a>
                </li>
            </ul>
        </aside>
        <div class="hero-block">
            <h2 class="hero-title">Leave a reply</h2>
            <form class="hero-form">
                <ul class="form-list">
                    <li class="form-item">
                        <label for="#name" class="form-label">Your Name</label>
                        <input id="name" type="text" class="form-input">
                    </li>
                    <li class="form-item">
                        <label for="#mail" class="form-label">Your E-mail</label>
                        <input id="mail" type="email" class="form-input">
                    </li>
                    <li class="form-item">
                        <label for="#subject" class="form-label">Subject</label>
                        <input id="subject" type="text" class="form-input">
                    </li>
                    <li class="form-item">
                        <label for="#massage" class="form-label">Your Message (Optional)</label>
                        <textarea id="massage" type="text" class="form-textarea"></textarea>
                    </li>
                </ul>
                <button type="button" class="form-btn">SHOP NOW</button>
            </form>
        </div>
        <aside class="hero-aside">
            <ul class="aside-list">
                <li class="aside-item">
                    <h2 class="aside-title">Archives</h2>
                    <ul class="archives">
                        <li class="archives-item">
                            <time datetime="2022-03" class="archives-time">March 2022</time>
                            <p class="archives-number">(1)</p>
                        </li>
                        <li class="archives-item">
                            <time datetime="2022-02" class="archives-time">February 2022</time>
                            <p class="archives-number">(2)</p>
                        </li>
                        <li class="archives-item">
                            <time datetime="2022-01" class="archives-time">January 2022</time>
                            <p class="archives-number">(3)</p>
                        </li>
                    </ul>
                </li>
                <li class="aside-item">
                    <h2 class="aside-title">Categories</h2>
                    <ul class="categories-list">
                        <li class="categories-item">
                            <p class="categories-text">Electric</p>
                            <p class="categories-number">(3)</p>
                        </li>
                        <li class="categories-item">
                            <p class="categories-text">Fan</p>
                            <p class="categories-number">(2)</p>
                        </li>
                        <li class="categories-item">
                            <p class="categories-text">Machine</p>
                            <p class="categories-number">(2)</p>
                        </li>
                    </ul>
                </li>
                <li class="aside-item">
                    <h2 class="aside-title">Recent Posts</h2>
                    <ul class="posts-list">
                        <li class="posts-item">
                            <img src="../../images/blog-page/blog-mini.webp" alt="photo of a wooman"
                                class="posts-photo">
                            <div class="posts-box">
                                <h3 class="posts-subtitle">Bruden Mode ...</h3>
                                <time datetime="2022-04-03" class="posts-time">April 3, 2022</time>
                            </div>
                        </li>
                        <li class="posts-item">
                            <img src="../../images/blog-page/blog-mini.webp" alt="photo of a wooman"
                                class="posts-photo">
                            <div class="posts-box">
                                <h3 class="posts-subtitle">Bruden Mode ...</h3>
                                <time datetime="2022-04-03" class="posts-time">April 3, 2022</time>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside>
        <!-- <img src="../../images/" alt=""> -->
    </div>
    <div class="container map-container">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1069.8001759540837!2d30.537009600646392!3d50.3772192316289!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c7ea7ab7fa21%3A0xd60dfbd3941b7deb!2sATB-Market!5e0!3m2!1sru!2sua!4v1694612934020!5m2!1sru!2sua"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>