<section class="hero">
    <div class="container">
        <h1 class="hero-title">About Us</h1>
        <div class="about-us-box">
            <div class="about-us-box2">
                <p class="hero-paragraph">the perfect addition to their outfits with our range of merchandise</p>
                <h2 class="hero-subtitle">A brand of small products that make a huge difference to your everyday look
                </h2>
                <h2 class="hero-text">We strive to produce quality fashionable products that adhere to your comfort. We
                    currently have 15 products in-store and more to come!</h2>
                <h2 class="hero-text2">We will be the brand that produces small products that make a huge difference in
                    your day-to-day outfits. Having that fashionable yet still comfortable piece to your fit can make a
                    big impact on your day-to-day life.</h2>
            </div>
            <img class="about-us-img" src="../../images/about-us-page/hero.webp" alt="photo of a wooman">
        </div>
        <ul class="hero-card">
            <li class="hero-item">
                <h2 class="card-text">Unique size for maximum comfort</h2>
                <p class="card-subtext">Our backpacks are not normal-sized. They are made in a mini size since this
                    really is an alternative to a handbag, not solely in size but also in how you wear it.</p>
            </li>
            <li class="hero-item">
                <h2 class="card-text">A Healthy back and straight posture</h2>
                <p class="card-subtext">Two shoulder straps distribute the weight more evenly across the back. This will
                    make women feel more comfortable while walking and reduces the likelihood of muscle spasms and poor
                    posture</p>
            </li>
            <li class="hero-item">
                <h2 class="card-text">An alternative to carrying a handbag</h2>
                <p class="card-subtext">Our number one product, Bruden's Backpack was created for those who need an
                    alternative to wearing a handbag. Those who prefer to wear their bags on their back than on just one
                    shoulder</p>
            </li>
        </ul>
    </div>
</section>