<section class="shop">
    <div class="container shop-container">
        <div>
            <h2 class="shop-title">Shop</h2>
            <aside class="shop-aside">
                <h2 class="aside-title">Filter by price</h2>
                <div class="aside-line aside-line1"></div>
                <ul class="aside-slider">
                    <li class="aside-item2">
                        <div class="aside-point"></div>
                    </li>
                    <li class="aside-item2">
                        <div class="aside-line3"></div>
                    </li>
                    <li class="aside-item2">
                        <div class="aside-point"></div>
                    </li>
                </ul>
                <button class="aside-btn" type="button">filter</button>
                <p class="aside-price">Price $30 - $110</p>
                <h2 class="aside-title">Product tags</h2>
                <div class="aside-line aside-line2"></div>
                <ul class="aside-list">
                    <li class="aside-item">
                        <button class="aside-btn2" type="button">Bags</button>
                    </li>
                    <li class="aside-item">
                        <button class="aside-btn2" type="button">sunglasses</button>
                    </li>
                    <li class="aside-item">
                        <button class="aside-btn2" type="button">Belts</button>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="shop-block">
            <div class="shop-box">
                <ul class="shop-orders">
                    <li class="shop-order">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <rect x="1" y="1" width="7" height="7" stroke="#DE1616" stroke-width="2" />
                            <rect x="1" y="12" width="7" height="7" stroke="#DE1616" stroke-width="2" />
                            <rect x="12" y="1" width="7" height="7" stroke="#DE1616" stroke-width="2" />
                            <rect x="12" y="12" width="7" height="7" stroke="#DE1616" stroke-width="2" />
                        </svg>
                    </li>
                    <li class="shop-order">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 20" fill="none">
                            <line x1="11" y1="3" x2="24" y2="3" stroke="#292A33" stroke-width="2" />
                            <line x1="11" y1="10" x2="24" y2="10" stroke="#292A33" stroke-width="2" />
                            <line x1="11" y1="18" x2="24" y2="18" stroke="#292A33" stroke-width="2" />
                            <rect x="1" y="12" width="7" height="7" stroke="#292A33" stroke-width="2" />
                            <rect x="1" y="1" width="7" height="7" stroke="#292A33" stroke-width="2" />
                        </svg>
                    </li>
                </ul>
                <p class="shop-paragraph">Showing 1–12 of 15 results</p>
                <select name="filter" id="filter" class="shop-select">
                    <option value="default">Default sorting</option>
                </select>
            </div>
            <ul class="shop-list">
                <li class="shop-item">
                    <div class="shop-hover">
                        <img src="../../images/shop-page/heart.png" alt="heart" class="heart">
                        <img src="../../images/shop-page/eye.png" alt="eye" class="eye">
                        <img src="../../images/shop-page/cart.png" alt="cart" class="cart">
                        <img src="../../images/shop-page/shop1.webp" alt="backpack" class="shop-photo">
                        <h3 class="shop-subtitle">Bruden's Backpack</h3>
                        <img src="../../images/home-page/stars.webp" alt="stars" class="shop-img">
                        <p class="shop-text">C$ 66.49</p>
                    </div>
                </li>
                <li class="shop-item">
                    <img src="../../images/shop-page/heart.png" alt="heart" class="heart">
                    <img src="../../images/shop-page/eye.png" alt="eye" class="eye">
                    <img src="../../images/shop-page/cart.png" alt="cart" class="cart">
                    <img src="../../images/shop-page/shop2.webp" alt="backpack" class="shop-photo">
                    <h3 class="shop-subtitle">Bruden's Backpack</h3>
                    <img src="../../images/home-page/stars.webp" alt="stars" class="shop-img">
                    <p class="shop-text">C$ 66.49</p>
                </li>
                <li class="shop-item">
                    <img src="../../images/shop-page/heart.png" alt="heart" class="heart">
                    <img src="../../images/shop-page/eye.png" alt="eye" class="eye">
                    <img src="../../images/shop-page/cart.png" alt="cart" class="cart">
                    <img src="../../images/shop-page/shop3.webp" alt="belt" class="shop-photo">
                    <h3 class="shop-subtitle">Bruden Belt</h3>
                    <img src="../../images/home-page/stars.webp" alt="stars" class="shop-img">
                    <p class="shop-text">C$ 24.49</p>
                </li>
                <li class="shop-item">
                    <img src="../../images/shop-page/heart.png" alt="heart" class="heart">
                    <img src="../../images/shop-page/eye.png" alt="eye" class="eye">
                    <div class="shop-add">
                        <span class="shop-span">Add to cart</span>
                        <img src="../../images/shop-page/cart-white.png" alt="cart" class="cart-white">
                    </div>
                    <img src="../../images/shop-page/shop4.webp" alt="backpack" class="shop-photo">
                    <h3 class="shop-subtitle">Sweet Pink Bruden Backpack</h3>
                    <img src="../../images/home-page/stars.webp" alt="stars" class="shop-img">
                    <p class="shop-text">C$ 99.99</p>
                </li>
                <li class="shop-item">
                    <img src="../../images/shop-page/heart.png" alt="heart" class="heart">
                    <img src="../../images/shop-page/eye.png" alt="eye" class="eye">
                    <img src="../../images/shop-page/cart.png" alt="cart" class="cart">
                    <img src="../../images/shop-page/shop5.webp" alt="glasses" class="shop-photo">
                    <h3 class="shop-subtitle">MTL</h3>
                    <img src="../../images/home-page/stars.webp" alt="stars" class="shop-img">
                    <p class="shop-text">C$ 49.99</p>
                </li>
                <li class="shop-item">
                    <img src="../../images/shop-page/heart.png" alt="heart" class="heart">
                    <img src="../../images/shop-page/eye.png" alt="eye" class="eye">
                    <img src="../../images/shop-page/cart.png" alt="cart" class="cart">
                    <img src="../../images/shop-page/shop6.webp" alt="backpack" class="shop-photo">
                    <h3 class="shop-subtitle">LA</h3>
                    <img src="../../images/home-page/stars.webp" alt="stars" class="shop-img">
                    <p class="shop-text">C$ 35.00</p>
                </li>
            </ul>
        </div>
    </div>
</section>