/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./privacy-page/header.css');
@import url('./privacy-page/privacy.css');
@import url('./home-page/footer.css');


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --black: #292A33;
  --yellow: #FDAE04;
  --red: #DE1616;
  --grey: #7F7F7F;
}

* {
  font-family: 'Josefin Sans';
  font-weight: 300;
}

.container {
  width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}