<section class="deal">
    <div class="container">
        <h2 class="deal-title">Deal of the week</h2>
        <ul class="deal-list">
            <li class="deal-item">
                <img src="../../images/home-page/deal1.webp" alt="Fiery Red Bruden Backpack" class="deal-image">
                <div class="deal-container">
                    <h3 class="deal-subtitle">Fiery Red Bruden Backpack</h3>
                    <img src="../../images/home-page/stars.webp" alt="" class="deal-srars">
                    <p class="deal-price">C&#36; 99.99</p>
                    <p class="deal-text">Bruden's Backpack will give all your essentials a home while still feeling
                        comfortable and having a...</p>
                    <div class="deal-box">
                        <button type="button" class="deal-button">Add to cart</button>
                        <div class="deal-box2">
                        <img src="../../images/home-page/deal4.webp" alt="like" class="deal-icon">
                        <img src="../../images/home-page/deal3.webp" alt="watch" class="deal-icon">
                        </div>
                    </div>
                </div>

            </li>
            <li class="deal-item">
                <img src="../../images/home-page/deal2.webp" alt="Bruden's Backpack" class="deal-image">
                <div class="deal-container">
                    
                    <h3 class="deal-subtitle">Bruden's Backpack</h3>
                    <img src="../../images/home-page/stars.webp" alt="" class="deal-srars">
                    <p class="deal-price">C&#36; 66.49</p>
                    <p class="deal-text">Bruden's Backpack will give all your essentials a home while still feeling
                        comfortable and having a...</p>
                    <div class="deal-box">
                        <button type="button" class="deal-button">Add to cart</button>
                        <div class="deal-box2">
                            <img src="../../images/home-page/deal4.webp" alt="like" class="deal-icon">
                            <img src="../../images/home-page/deal3.webp" alt="watch" class="deal-icon">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="deal-shevrons">
            <li class="deal-shevron"><img src="../../images/home-page/left-chevron.webp" alt="left-chevron"></li>
            <li class="deal-shevron"><img src="../../images/home-page/right-chevron.webp" alt="right-chevron"></li>
        </ul>
    </div>
</section>