<section class="hero">
    <div class="container">
        <div class="hero-container">
            <div class="hero-box">
                <h2 class="hero-subtitle">Bags - sunglasses - belts</h2>
                <h1 class="hero-title">Exclusive accessories for connoisseurs of style</h1>
                <p class="hero-text">Designed in Montreal, Bruden's Backpack embodies luxury fashion while keeping
                    comfort and versatility</p>
                <button class="hero-button" type="button">Shop Now</button>
            </div>
            <img src="../../images/home-page/hero.webp" alt="photo of a wooman" class="hero-img">
        </div>
    </div>
</section>