<section class="info">
    <div class="container info-container">
        <div class="info-box1">
            <h2 class="info-title1">New arrival</h2>
            <p class="info-paragraph">Exclusive Denisha Bruce Red Backpack Launch</p>
            <button class="hero-btn1" type="button">SHOP NOW</button>
        </div>
        <div class="info-box2">
            <h2 class="info-title2">An addition to all your fits</h2>
            <button class="hero-btn2" type="button">SHOP NOW</button>
        </div>
    </div>
</section>