<section class="shop">
    <div class="container">
        <h2 class="shop-title">
            Shop by category
        </h2>
        <div class="shop-line"></div>
        <ul class="shop-list">
            <li class="shop-item">
                <img src="../../images/home-page/shop1.webp" alt="bag" class="shop-photo">
                <p class="shop-subtitle">Bags</p>
            </li>
            <li class="shop-item">
                <img src="../../images/home-page/shop2.webp" alt="sunglasses" class="shop-photo">
                <p class="shop-subtitle">Sunglasses</p>
            </li>
            <li class="shop-item">
                <img src="../../images/home-page/shop3.webp" alt="belts" class="shop-photo">
                <p class="shop-subtitle">Belts</p>
            </li>
        </ul>
        <ul class="shop-chevrons">
            <li class="shop-chevron">
                <img src="../../images/home-page/left-chevron.webp" alt="left-chevron">
            </li>
            <li class="shop-chevron">
                <img src="../../images/home-page/right-chevron.webp" alt="shop-img">
            </li>
        </ul>
    </div>
</section>